.input {  
  width: 288px;
  height: 56px;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 16px;
  outline: 0;
}

.input::placeholder {
  color: rgba(0, 0, 0, .5);
  font-size: 16px;
  line-height: 24px;
}

.input:hover {
  border-color: #4BCFA0;
}

.input-error {
  border-color: #E43F3F;
  background-image: url("../../assets/svg/error.svg");
  background-repeat: no-repeat;
  background-position: 253px 15px;
}

label {  
  display: flex;
  width: 288px;
  height: 16px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
  color: #E43F3F;
}

.order-btn {
  position: relative;
  width: 288px;
  height: 56px;
  margin-top: 16px;
  border: 0;
  border-radius: 16px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.04em;  
  text-transform: uppercase;
  background-color: #4BCFA0;   
  transition: 0.3s;   
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: 0.3s;   
  cursor: pointer;
}

.order-btn:hover .arrow-right {
  transform: translateX(8px);
  opacity: 1;
}

.order-btn:active {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}