.card {
  width: 352px;
  min-height: 256px;
  padding: 32px;
  border-radius: 24px;
  background-color: #fff;
  text-align: left;
}

.category {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;  
}

.name {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.sell-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  position: relative;
  padding-left: 21px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
}

.price::before {
  content: "$";
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.02em;
}

.card-btn {
  width: 64px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);  
  border-radius: 16px;
  color: #4BCFA0;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  background-color: transparent; 
  transition: 0.3s;   
  cursor: pointer;
}

.card-btn:hover {
  color: #ffffff;
  background-color: #4BCFA0;
}

.card-btn:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}